<div class="container">
	<div class="previous" *ngIf="!firstStep">
		<h1>Step {{stepNum -1}}</h1>
		<p>{{previousStep}}</p>
	</div>
	
	<div class="current">
		<h1>Step {{stepNum}}</h1>
		<p>{{currentStep}}</p>
		<div *ngIf="hasTimer()">
			<p>{{timeLeft}}</p>
			<button (click)="startTimer()">Start Timer</button>
		</div>
		<button *ngIf="!firstStep" (click)="previous()">Previous</button>
		<button *ngIf="!lastStep" (click)="next()">next</button>
	</div>
	
	<div class="next" *ngIf="!lastStep">
		<h1>Step {{stepNum +1}}</h1>
		<p>{{nextStep}}</p>
	</div>
</div>

<div class="step-count">
	<h1>Step: {{stepNum}}/{{steps.length}}</h1>
</div>
