<form [formGroup]="recipeForm" class="form">
<h2>Add Recipe</h2>
	<mat-form-field class="full-width">
		<input matInput placeholder="Name" type="text" formControlName="recipeName">
	</mat-form-field>
	<mat-form-field class="full-width">
		<textarea matInput placeholder="Description"
		formControlName="desc"> TEST </textarea>
	</mat-form-field>
	<mat-form-field class="full-width">
		<input matInput placeholder="Servings" type=text formControlName="servingSize">
	</mat-form-field>
	<mat-form-field class="full-width">
		<input matInput placeholder="Cooking Time" type="text" formControlName="cookTime">
	</mat-form-field>
	<mat-form-field class="full-width">
		<input matInput placeholder="Keywords/Tags" type="text" formControlName="tags">
	</mat-form-field>
	<mat-form-field class="full-width">
		<input matInput placeholder="Photos (URLS)" type="text" formControlName="photos">
	</mat-form-field>

	<div formArrayName="ingredients">
		<h3>Ingredients</h3>
		<button mat-mini-fab color="primary" (click)="addIngredient()">
			<mat-icon>add</mat-icon>
		</button>
		<div *ngFor="let address of ingredients.controls; let i=index">
			<div [formGroupName]="i">
				<h4>Ingredient {{ i + 1 }}</h4>
				<mat-form-field class="full-width">
					<input matInput placeholder="Name" type="text"
					formControlName="ingrName">
				</mat-form-field>
				<mat-form-field class="full-width">
					<input matInput placeholder="Amount" type="text"
					formControlName="amount">
				</mat-form-field>
				<mat-form-field class="full-width">
					<input matInput placeholder="Units" type="text"
					formControlName="units">
				</mat-form-field>
			</div>
		</div>
	</div>

	<div formArrayName="steps">
		<h3>Steps</h3>
		<button mat-mini-fab color="primary" (click)="addStep()">
			<mat-icon>add</mat-icon>
		</button>
		<div *ngFor="let address of steps.controls; let i=index">
			<div [formGroupName]="i">
				<h4>Step {{ i + 1 }}</h4>
				<mat-form-field class="full-width">
					<textarea matInput placeholder="Instructions" type="text" formControlName="instruct">
					</textarea>
				</mat-form-field>
				<mat-form-field class="full-width">
					<input matInput placeholder="Timer" type="text"
					formControlName="timer">
				</mat-form-field>
			</div>
		</div>
	</div>
</form>
<p>
Value: {{ recipeForm.value | json }}
</p>
