 .example-viewport{
     height: 250px;
     width: 80%;
     margin-left: 50px;
     border: 1px solid saddlebrown;
     display: flex;
    }
    .list{
     height: 50px;
     justify-content: center;
     align-items: center;
    }
    h2{
     margin-left: 40px;
    }
    .container{
     margin-bottom: 40px;
    }
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 
{
font-family:'Times New Roman', Times, serif;
}
button{
  background-color: #D87620;
  color: white;
  padding : 15px 25px;
  cursor: pointer;
}
#container{
  width:100%;
  }
#left{
  float:left;width:100px;
  }
#right{
  float:right;width:175px;
  }
#center{
  margin:0 auto;width:100px;
  }
.example-card {
  max-width: 400px;
  float: left;
  width:25%;
  padding: 0px 35px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
#like-rating {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 1000px;
  background-size: contain;
}
#like-rating img{
  width:100%;
}
#rating {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 1000px;
}
#rating img {
  width:100%;
}
#edit {
  padding: 10px;
}
.edit:hover{
  border:solid;
}
#cart {
  padding: 10px;
}
#delete {
  padding: 10px;
}
#previous {
  float:left;
}
.example-card:hover {
  border: solid;
}
#card-title {
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}