p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
font-family:'Times New Roman', Times, serif;
}
button{
  background-color: #D87620;
  color: white;
  padding : 15px 25px;
  cursor: pointer;
}
#container{
  width:100%;
  }
#left{
  float:left;width:100px;
  }
#right{
  float:right;width:175px;
  }
#center{
  margin:0 auto;width:100px;
  }